  .cart-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  h2 {
    text-align: center;
    font-size: 300%;
    color: white;
  }
  
  .cart-product-card {
    width: 260px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #00ffff;
    padding: 1rem;
    text-align: center;
  }
  
  .cart-product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .cart-product-price {
    font-weight: bold;
  }
  
  .cart-product-added {
    font-size: 0.8rem;
    opacity: 0.8;
  }
  .cart-product-info{
    color: white;
  }
  .cart-remove-button{
    color: black;
    
  }

.cart-message::before {
  content: "";
  position: absolute;
  inset: -20px;
  filter: blur(25px);
  z-index: -1;
  border-radius: 20px;
}

.cart-message {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: #ffffff;
  -webkit-text-stroke: 2px #000;

  text-shadow:
    0 0 12px rgba(0, 255, 255, 0.8),
    0 0 24px rgba(255, 0, 200, 0.6);
}